{% extends "base.html" %}

{% block content %}
<h1>Как работает этот сайт?</h1>
<br>
<h2>Что планировалось</h2>
<br>
<p>•		Тема проекта:<br>
Сайт для любителей архитектуры. Возможность посмотреть на здания университетов со всего мира.<br>
•	Техническое задание:<br>
Сайт со множеством разделов. В их числе: Главная, О сайте и Страница университета (шаблон, на основе которого генерируются страницы для каждого из университетов).
Сайт объединяет дизайн, в том числе шапка и подвал (с функциональными кнопками).
Информация для сайта храниться в базе данных.
</p>
<img src="static/макет.png" alt="макет">
<br>
<h2>Что получилось</h2>
<br>
<p>Три составляющие сайта:</p>
<ul>
    <li><i>main.py</i> - програмная часть</li>
    <li><i>universities.sqlite</i> - все данные об университетах</li>
    <li>папки <i>static</i> и <i>templates</i> - статический контент (иконки и макеты страниц)</li>
</ul>
<br>
<p>Во время создания сайта постоянно возникали каверзные вопросы. На некоторые из них даже удалось найти ответы.
    Вот некоторые из них:</p>
<ul>
    <li><i>Как можно передать картинку из базы данных, если HTML принимает только URL?</i> Ответ: через URL. Потом и кровью.</li>
    <li><i>Как можно передать <b>случайную</b> картинку из базы данных, если такая идея возникла в середине проекта?</i> Ответ: написан свой декоратор.</li>
    <li><i>Что делать, если sqlite не дружит с регистрами кириллицы?</i> Ответ: добавить ещё столбец в таблицу, потому что python - дружит.</li>
</ul>
{% endblock %}
